.contConfirmada {
    margin: 3% 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contConfirmada img {
    width: 450px;
    height: auto;
}

.contConfirmada div:first-child{
    background-color: #FFF5E4;
    padding: 20px;
}
