.contConfirmarReserva {
    margin: 3% 10%;
}

.confirmar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: mistyrose;
    padding: 5% 0%;
}

.confirmar p {
    margin-bottom: 0px;
}

.confirmarDatos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmarTitulo {
    font-weight: 600;
}

.confirmarFila {
    display: flex;
}

.confirmarFila p:first-child{
    margin-right: 20px;
}

.contConfirmarReserva img {
    width: 720px;
    height: auto;
}

.confirmar button {
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    background-color: #FFF5E4;
    border: 1px solid black;
}
